.welcome-header {
  margin: 90px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
}

.welcome-header__title {
  margin-bottom: 20px;
  font-size: 25px;
  animation: welcomeHeaderColor 1s linear infinite;
}

.welcome-header__text {
  width: 60%;
  /* ↓ 이것으로 해도 되고, color로 해도 되고 본인 자유 */
  /* opacity: 0.7; */
  color: var(--main-color);
}

@keyframes welcomeHeaderColor {
  0% {
    color: inherit;
  }
  25% {
    color: red;
  }
  50% {
    color: orange;
  }
  75% {
    color: black;
  }
  100% {
    color: inherit;
  }
}
